body            { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; background: #eee; }*/
a, h1, h2       { color: #00ced1; }

a:link 			{ text-decoration: none; color: #00ced1;}

a:hover 		{ color: orange; text-decoration: underline; }

h1, h2          { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; margin: 0; }
h2              { font-size: 1.2em; }

.page           { font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; margin: 2em auto; width: 43em; border-radius: 25px; border: 1px solid #ccc;
                  padding: 0.8em; background: #eee; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { float: right; border-radius: 5px; text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: white; width: 15em; border: 1px solid #ccc;}
.flash          { background: #eee; padding: 0.5em; }
                   
.error          { background: #f0d6d6; padding: 0.5em; }
.nav			{ text-align: center; color: red; }

