<div class="page-header">
    <p>{% if num_records %}{{ num_records }}{% else %}0{% endif %} records</p>
</div>

<h1>Click the album link to see details or add to your wishlist.</h1>
<ul>
{% for r in all_records %}
<li><a href='/record_view/{{ r[2] }}'><h3>{{ r[0] }} by {{ r[1] }}</h3> </a></li><br>
{% endfor %}
</ul>

{% if not all_records %}
There are no records to show.
{% endif %}

<div>
{% for message in get_flashed_messages() %} 
<strong>*** {{ message }} ***</strong>
{% endfor %}
</div>

<a href="{{ url_for('index')}}">Return to add a new record</a>