<title>All Records</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<div class=page>
<div class=metanav>
    <p>{% if num_records %}{{ num_records }}{% else %}0{% endif %} records</p>
    {% if current_user.is_authenticated %}
    <a href="/wishlist_view/{{current_user.id}}">View Wishlist {{current_user.username}}</a><br>
    <a href="{{ url_for('add_records_to_db')}}">Add records to database</a><br>
    <a href="{{ url_for('logout') }}">Sign Out {{current_user.username}}</a>
	{% else %}
    <a href="{{ url_for('login') }}">Sign In</a>
	{% endif %}
</div>

<h3>Click the album link to see details or add to your wishlist.</h3>
<ul>
{% for r in all_records %}
<li><a href='/record_view/{{ r[2] }}'><h3>{{ r[0] }} by {{ r[1] }}</h3> </a></li><br>
{% endfor %}
</ul>

{% if not all_records %}
There are no records to show.
{% endif %}

<div class=flash>
{% for message in get_flashed_messages() %} 
<strong>*** {{ message }} ***</strong>
{% endfor %}
</div>
</div>

