<ul>
<li>{{ record_dict['catalog_no'][0] }} {{ record_dict['title'][0] }} by {{ record_dict['artist'][0] }}</li><br>
<li>{{ record_dict['price'] }}</li>
</ul>

{% if not record_dict %}
Nothing to show.
{% endif %}
{% if current_user.is_authenticated %}
<form method="POST">
	{{ form.hidden_tag() }}
	{{ form.user_id.label }}{{ form.user_id() }}
	{{ form.submit() }}<br>
</form>
{% endif %}

<div>
<p>ITUNES INFORMATION:</p>
{{ artist_genre }}<br>
<a href="{{ artist_url }}">See artist info on iTunes</a>
</div>

<div>
{% for message in get_flashed_messages() %} 
<strong>*** {{ message }} ***</strong>
{% endfor %}
</div>

<a href="{{ url_for('index')}}">See all records.</a>