<div class="page-header">
    <h1>{% if num_records %}{{ num_records }}{% else %}0{% endif %} records saved. </h1>
    <p><a href="{{ url_for('index') }}">See all records.</a></p>
</div>

<form method="POST">
	{{ form.hidden_tag() }}
	{{ form.email.label }} {{ form.email() }}
	{{ form.userName.label }} {{ form.userName() }}
    {{ form.password.label }} {{ form.password() }}
    {{ form.password2.label }} {{ form.password2() }}
	{{ form.submit.label }}{{ form.submit() }}
</form>

<div>
{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}
</div>